
<div class="card">
    <div class="card-header">
        <p class="card-header-title"><%= customer.name %></p>
    </div>
    <div class="card-image">
        <% if customer.image.attached? %>
            <figure class="image">
                <%= image_tag customer.image.variant(resize_to_fill: [128, 128]) %>
            </figure>
        <% else %>
            <figure class="image">
                <img src="https://placehold.co/600x400?text=No+Image" alt="Placeholder image">
            </figure>
        <% end %>
    </div>

  <div class="card-content">



      <div class="content">
      <p class="subtitle is-6 mb-0"><%= customer.email %></p>
        <p class="is-size-7 has-text-grey"><%= customer.phone %></p>

      </div>
      <footer class="card-footer">
    <strong>Notes:</strong> <%= customer.notes %>
  </footer>

  </div>
</div>
